html {
    height: 100%;
}

body {
    height: 100%;
    max-resolution: 0 auto;
    padding-top: 50px;
}

div.page-container {
    min-height: 100%;
    background-color: burlywood;
}

div.main-container {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: beige;
}

div.padded-bottom {
    padding-bottom: 10px;
}

div.center-content {
    text-align: center;
}

div.leftcolumn {
    text-align: right;
}

div.rightcolumn {
    text-align: left;
}

.fine-print {
    font-size: 75%;
}
