<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>Diet</title>
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
	<style>
	<!--
	body {
	    background: #5B211A repeat-x center top;
	    color: #000;
	    font-family: "Hoefler Text", Georgia, "Times New Roman", Times, serif;
	    margin: 0;
	    padding: 0;
	    text-align: center;
	    font-size: medium !important;
	    line-height: normal !important;
	    text-align: center;
	}
	#border {
	    width: 1000px;
	    margin: 0 auto 0 auto;
	    background: #F2E2C1 repeat-y center top;
	    padding: 0 15px;
	    border: 10px solid #411213;
    }
	/* Tan IE5 box model fix  Hides from IE5-mac */
	* html #rap {
	    width: 730px;
	    w\idth: 800px;
	}
	table.foodsEatenOnDate {
	    width: 100%;
	}
	table.foodsEatenOnDate th {
	    border-bottom: 2px solid black;
	    text-align: center;
	    padding: 2px;
	}
	table.foodsEatenOnDate td {
	    border-bottom: 2px solid black;
	    text-align: center;
	    padding: 2px;
	}
	-->     
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>	
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script>
  		$(function() {
    		$("#datepicker").datepicker({
    		    dateFormat: "yy-mm-dd",
    		    onSelect: function(dateText) {
    		        window.location.href = window.location.href.split('?')[0] + "?date=" + this.value;
                }
    		});
  		});
  	</script>
</head>

<body>
<div id="border"><br/>
<table style="width: 100%; border-top: 2px solid #000000; border-bottom: 2px solid #000000;"><tr>
        <td width="25%" align="center"><a href="/user">User</a></td>
        <td width="25%" align="center"><a href="/diet">Diet</a></td>
        <td width="25%" align="center"><a href="/exercise">Exercise</a></td>
        <td width="25%" align="center"><a href="/weight">Weight</a></td>
</tr></table><br/>

<br/><b>Foods Eaten On:</b><br/>

<table width="100%">
    <tr>
        <td align="center" valign="middle">
            <b>Recently Eaten Foods:</b><br/>
            <form>
                <input type="text" id="datepicker" />
                <!--<input type="submit" value="Change Date"/>-->
                <select name="FoodID">
                <option th:each="recentFood : ${foodsEatenRecently}" th:value="${recentFood.id}"><span th:text="${recentFood.name}"/></option>
                </select>
                <input type="submit" name="Action" value="Add Food"/>
            </form>
        </td>
        <td align="center" valign="middle">
            <form method="get">
                &nbsp;<br/>
                <input type="hidden" name="page" value="searchfoods"/>
                <input type="text" name="FoodName"/>
                <input type="submit" value="Search Foods"/>
            </form>
        </td>
    </tr>
</table>

<table class="foodsEatenOnDate" cellspacing="0" cellpadding="2">
<tr>
    <th width="30%">Food</th>
    <th># of Servings</th>
    <th>Serving Size</th>
    <th>Calories</th>
    <th>Fat</th>
    <th>Sat. Fat</th>
    <th>Sodium</th>
    <th>Carbs</th>
    <th>Fiber</th>
    <th>Sugar</th>
    <th>Protein</th>
    <th>Points</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
<tr th:each="foodEaten : ${foodsEatenThisDate}">
<form>
    <td width="30%" th:text="${foodEaten.food.name}"></td>
    <td><input type="text" size="2" name="FoodEatenQty" th:value="${foodEaten.servingQty}"/></td>
    <td>
        <!--
        <select name="FoodEatenServing">
            <c:choose>
                <c:when test="${foodEaten.servingType == 'CUSTOM'}">
                    <option value='CUSTOM' selected>CUSTOM</option>
                </c:when>
                <c:otherwise>
                    <option value='ounce' <c:if test="${foodEaten.servingType == 'ounce'}">selected</c:if>>ounce</option>
                    <option value='cup' <c:if test="${foodEaten.servingType == 'cup'}">selected</c:if>>cup</option>
                    <option value='pound' <c:if test="${foodEaten.servingType == 'pound'}">selected</c:if>>pound</option>
                    <option value='pint' <c:if test="${foodEaten.servingType == 'pint'}">selected</c:if>>pint</option>
                    <option value='tablespoon' <c:if test="${foodEaten.servingType == 'tablespoon'}">selected</c:if>>tablespoon</option>
                    <option value='teaspoon' <c:if test="${foodEaten.servingType == 'teaspoon'}">selected</c:if>>teaspoon</option>
                    <option value='gram' <c:if test="${foodEaten.servingType == 'gram'}">selected</c:if>>gram</option>
                </c:otherwise>
            </c:choose>
        </select>
        -->
    </td>
    <td th:text="${foodEaten.calories}"></td>
    <td th:text="${foodEaten.fat}"></td>
    <td th:text="${foodEaten.saturatedFat}"></td>
    <td th:text="${foodEaten.sodium}"></td>
    <td th:text="${foodEaten.carbs}"></td>
    <td th:text="${foodEaten.fiber}"></td>
    <td th:text="${foodEaten.sugar}"></td>
    <td th:text="${foodEaten.protein}"></td>
    <td th:text="${foodEaten.points}"></td>
    <td>Update</td>
    <td>Delete</td>
</form>
</tr>
<tr>
    <td width="30%"><br/>TOTAL: </td>
    <td><br/>&nbsp;</td>
    <td><br/>&nbsp;</td>
    <td th:value="${caloriesForDay}"><br/></td>
    <td th:value="${fatForDay}"><br/></td>
    <td th:value="${saturatedFatForDay}"><br/></td>
    <td th:value="${sodiumForDay}"><br/></td>
    <td th:value="${carbsForDay}"><br/></td>
    <td th:value="${fiberForDay}"><br/></td>
    <td th:value="${sugarForDay}"><br/></td>
    <td th:value="${proteinForDay}"><br/></td>
    <td th:value="${pointsForDay}"><br/></td>
    <td colspan="2">net cal.<br/>net points</td>
</tr>
</table>

<br/>
<form><input type="submit" value="Add / Manage Foods"/></form>
<br/>

</div>
</body>
</html>
