<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Exercise</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <style>
        <!--
        body {
            background: #5B211A repeat-x center top;
            color: #000;
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: medium !important;
            line-height: normal !important;
            text-align: center;
        }

        #border {
            width: 1000px;
            margin: 0 auto 0 auto;
            background: #F2E2C1 repeat-y center top;
            padding: 0 15px;
            border: 10px solid #411213;
        }

        /* Tan IE5 box model fix  Hides from IE5-mac */
        * html #rap {
            width: 730px;
            w\idth: 800px;
        }

        table.exercisesPerformedOnDate {
            width: 100%;
        }

        table.exercisesPerformedOnDate th {
            border-bottom: 2px solid black;
            text-align: center;
            padding: 2px;
        }

        table.exercisesPerformedOnDate td {
            border-bottom: 1px solid black;
            text-align: center;
            padding: 2px;
        }

        .ui-widget {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.8em;
        }

        -->
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/

    // Parse (or initialize) the current-date variable, and the user ID
    var dateString = /*[[${dateString}]]*/;
    if (!dateString || dateString === "") {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        if (month < 10) {
            month = "0" + month;
        }
        var day = date.getDate();
        if (day < 10) {
            day = "0" + day;
        }
        dateString = year + "-" + month + "-" + day;
    }

    /** On document load... */
    $(function () {
        // Initialize date picker widget
        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function (dateText) {
                window.location.href = "/exercise?date=" + this.value;
            }
        });
        $("#datepicker").datepicker("setDate", dateString);

        // Add event handling to the "Recent Exercises" add button
        $("#recentExercisesButton").click(function () {
            addExercisePerformedFromRecent();
        });

        // Add event handling to the "Browse by Category" category selection
        $("#categorySelect").change(function () {
            updateExerciseCategory();
        });

        // Add event handling to the "Browse by Category" add button
        $("#browseExercisesButton").click(function() {
            addExercisePerformedFromBrowsing();
        });

        // Add event handling to the "Search Exercises" button
        $("#searchExercisesButton").click(function() {
            searchExercises();
        });
        $("#searchExercisesName").keypress(function(e) {
            if (e.which == 13) {
                searchExercises();
            }
        });
    });

    /** Called when the "Add Exercise" button is clicked underneath the "Recently Performed Exercises" pull-down. */
    function addExercisePerformedFromRecent() {
        var exerciseId = $("#recentExercisesSelect").val();
        window.location.href = "/exercise/performed/add?date=" + dateString + "&exerciseId=" + exerciseId;
    }

    /** Called when the category selection is updated underneath "Browse Exerciss by Category". */
    function updateExerciseCategory() {
        var category = $("#categorySelect").val();
        $.getJSON("/exercise/bycategory/" + category, function(data) {
            $("#exerciseSelect").empty();
            $.each(data, function(index, exercise) {
                var description = (exercise.description.length < 50) ? exercise.description : (exercise.description.substring(0, 47) + "...");
                var option = $("<option></option>").attr("value", exercise.id).text(description);
                $("#exerciseSelect").append(option);
            });
        });
    }

    /** Called when the "Add Exercise" button is clicked underneath the "Browse Exercises by Category" pull-down. */
    function addExercisePerformedFromBrowsing() {
        var exerciseId = $("#exerciseSelect").find(":selected").val();
        window.location.href = "/exercise/performed/add?date=" + dateString + "&exerciseId=" + exerciseId;
    }

    function searchExercises() {
        var searchString = $("#searchExercisesName").val();
        $.ajax({
            url: "/exercise/search/" + encodeURIComponent(searchString),
            dataType: "json",

            success: function(response) {
                $("#searchExercisesTable").html("");
                $("#searchExercisesTable").append("<tr><th>Name</th><th></th></tr>");
                for (var index = 0; index < response.length; index++) {
                    var exercise = response[index];
                    var description = (exercise.description.length <= 50) ? exercise.description : exercise.description.substring(0, 47) + "...";
                    var exerciseRow = "<tr><td>" + description + "</td>";
                    exerciseRow += "<td><input type='button' value='Add' onclick='addExercisePerformedFromSearch(\"" + exercise.id + "\")'/></td></tr>";
                    $("#searchExercisesTable").append(exerciseRow);
                }
                $("#searchExercisesModal").dialog({
                    width: 900,
                    height: 400,
                    modal: true
                });
            },

            fail: function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            }
        });
    }

    /** Called when the "Add Exercise" button is clicked underneath the "Browse Exercises by Category" pull-down. */
    function addExercisePerformedFromSearch(exerciseId) {
        window.location.href = "/exercise/performed/add?date=" + dateString + "&exerciseId=" + exerciseId;
    }

    /*]]>*/
    </script>
</head>

<body>
<div id="border"><br/>
    <table style="width: 100%; border-top: 2px solid #000000; border-bottom: 2px solid #000000;">
        <tr>
            <td width="25%" align="center"><a href="/profile">Profile</a></td>
            <td width="25%" align="center"><a href="/food">Diet</a></td>
            <td width="25%" align="center"><a href="/exercise">Exercise</a></td>
            <td width="25%" align="center"><a href="/report">Reports</a></td>
        </tr>
    </table>
    <br/>

    <form>
        <div><b>Exercises Performed On:</b></div>
        <div><input type="text" id="datepicker" size="10"/></div>
        <div style="font-size: 75%;">(click to change)</div>
    </form>
    <br/>

    <table width="100%">
        <tr>
            <td align="center" valign="top">
                <b>Recently Performed Exercises</b><br/>
                <select id="recentExercisesSelect" name="recentExercises">
                    <option th:each="recentExercise : ${exercisesPerformedRecently}" th:value="${recentExercise.id}" th:text="${recentExercise.description}"/>
                </select><br/>
                <input type="button" id="recentExercisesButton" value="Add Exercise"/>
            </td>
            <td align="center" valign="top">
                <b>Browse Exercises by Category</b><br/>
                <select id="categorySelect" name="category">
                    <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"/>
                </select><br/>
                <select id="exerciseSelect" name="exercise">
                    <option th:each="exercise : ${exercisesInCategory}" th:value="${exercise.id}" th:text="${exercise.description}"/>
                </select><br/>
                <input type="button" id="browseExercisesButton" value="Add Exercise"/>
            </td>
            <td align="center" valign="top">
                <b>Search Exercises by Name</b><br/>
                <input type="text" id="searchExercisesName" name="searchExercisesName"/><br/>
                <input type="button" id="searchExercisesButton" value="Search Exercises"/>
            </td>
        </tr>
    </table>
    <br/>
    <table class="exercisesPerformedOnDate" cellspacing="0" cellpadding="2">
        <tr>
            <th width="50%">Exercise</th>
            <th>Minutes</th>
            <th>Calories Burned</th>
            <th width="10%">&nbsp;</th>
            <th width="10%">&nbsp;</th>
        </tr>
        <tr th:each="exercisePerformed : ${exercisesPerformedThisDate}">
            <form action="/exercise/performed/update">
                <input type="hidden" name="exercisePerformedId" th:value="${exercisePerformed.id}"/>
                <td th:text="${exercisePerformed.exercise.description}"></td>
                <td><input type="text" size="2" name="minutes" th:value="${exercisePerformed.minutes}"/></td>
                <td><span th:text="${exercisePerformed.caloriesBurned}"/></td>
                <td><input type="submit" name="action" value="Update"/></td>
                <td><input type="submit" name="action" value="Delete"
                           onclick="javascript:return confirm('Are you SURE you want to delete this exercise entry?');"/>
                </td>
            </form>
        </tr>
        <tr>
            <td width="30%">TOTAL:</td>
            <td th:text="${totalMinutes}"/>
            <td th:text="${totalCaloriesBurned}"/>
            <td><br/>&nbsp;</td>
            <td><br/>&nbsp;</td>
        </tr>
    </table>
    <br/>

    <!-- "SEARCH EXERCISES" POP-UP -->
    <div style="font-family: 'Open Sans', sans-serif; font-size:10px; display:none;">
        <div id="searchExercisesModal" title="Search Exercises" style="text-align: center;">
            <div style="margin: 0 auto; width: 75%">
                <p>Click the "Add" button to add an exercise to the list of exercises performed on this day.</p>
            </div>
            <table id="searchExercisesTable" style="margin: 0 auto;">

            </table>
        </div>
    </div>

</div>
</body>
</html>
