<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>Diet</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
	<style>
	<!--
	body {
	    background: #5B211A repeat-x center top;
	    color: #000;
	    font-family: 'Open Sans', sans-serif;
	    margin: 0;
	    padding: 0;
	    text-align: center;
	    font-size: medium !important;
	    line-height: normal !important;
	    text-align: center;
	}
	#border {
	    width: 1000px;
	    margin: 0 auto 0 auto;
	    background: #F2E2C1 repeat-y center top;
	    padding: 0 15px;
	    border: 10px solid #411213;
    }
	/* Tan IE5 box model fix  Hides from IE5-mac */
	* html #rap {
	    width: 730px;
	    w\idth: 800px;
	}
	table.foodsEatenOnDate {
	    width: 100%;
	}
	table.foodsEatenOnDate th {
	    border-bottom: 2px solid black;
	    text-align: center;
	    padding: 2px;
	}
	table.foodsEatenOnDate td {
	    border-bottom: 1px solid black;
	    text-align: center;
	    padding: 2px;
	}
	.ui-widget {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
    }
	-->     
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>	
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/

        var dateString = /*[[${dateString}]]*/;
        if(!dateString || dateString === "") {
            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            if(month < 10) {
                month = "0" + month;
            }
            var day = date.getDate();
            if(day < 10) {
                day = "0" + day;
            }
            dateString = year + "-" + month + "-" + day;
        }

        // On document load...
  		$(function() {
            // Initialize date picker widget
    		$("#datepicker").datepicker({
    		    dateFormat: "yy-mm-dd",
    		    onSelect: function(dateText) {
    		        window.location.href = "/food?date=" + this.value;
                }
    		});
    		$("#datepicker").datepicker("setDate", dateString);

            // Add event handling to the "Search Foods" button
            $("#searchFoodsButton").click(function() {
                searchFoods();
            });
  		});

  		function searchFoods() {
            var searchString = $("#searchFoodName").val();
            var request = $.ajax({
                url: "/food/search/" + encodeURIComponent(searchString),
                dataType: "json",

                success: function(response) {
                    $("#searchFoodsTable").html("");
                    $("#searchFoodsTable").append("<tr><th>Name</th><th>Default Serving</th><th>Calories</th><th>Fat</th><th>Carbs</th><th></th></tr>");
                    for(var index = 0; index < response.length; index++) {
                        var food = response[index];
                        var foodRow = "<tr><td><a title='Click to edit this food' href='#' onclick='editFood(\"" + food.id + "\", \"" + food.ownerId + "\");return false;'>" + food.name + "</a></td>";
                        foodRow += "<td>" + parseFloat(food.servingTypeQty.toFixed(2)) + " " + food.defaultServingType.toLowerCase() + "</td>";
                        foodRow += "<td>" + food.calories + "</td>";
                        foodRow += "<td>" + parseFloat(food.fat.toFixed(2)) + "</td>";
                        foodRow += "<td>" + parseFloat(food.carbs.toFixed(2)) + "</td>";
                        foodRow += "<td><input type='button' value='Add' onclick='addFoodEaten(\"" + food.id + "\")'/></td></tr>";
                        $("#searchFoodsTable").append(foodRow);
                    }
                    $("#searchFoodsModal").dialog({
                        width: 900,
                        height: 400,
                        modal: true
                    });
                },

                fail: function(jqXHR, textStatus) {
                    alert( "Request failed: " + textStatus );
                }
            });
  		}

        function addFoodEaten(foodId) {
            window.location.href = "/food/eaten/add?date=" + dateString + "&foodId=" + foodId;
        }

        function editFood(foodId, ownerId) {
            if(!ownerId) {
                $("#editFoodModal").attr("title", "Create Customized Food");
                $("#editFoodMessage").html("<p>You are about to create a private customized copy of a food from the global list.</p>");
            } else {
                $("#editFoodModal").attr("title", "Edit Food");
                $("#editFoodMessage").html("<p>You are about to edit a food from your private customized list.</p>");
            }
            var request = $.ajax({
                url: "/food/get/" + encodeURIComponent(foodId),
                dataType: "json",

                success: function(food) {
                    $("#editFoodServingType").html("");
                    if(food.defaultServingType.toUpperCase() === "CUSTOM") {
                        $("#editFoodServingType").append("<option value='CUSTOM'>CUSTOM</option>");
                    } else {
                        var servingTypes = ["OUNCE", "CUP", "POUND", "PINT", "TABLESPOON", "TEASPOON", "GRAM"];
                        for(var index = 0; index < servingTypes.length; index++) {
                            if(food.defaultServingType.toUpperCase() === servingTypes[index]) {
                                $("#editFoodServingType").append("<option value='" + servingTypes[index] + "' selected='selected'>" + servingTypes[index].toLowerCase() + "</option>");
                            } else {
                                $("#editFoodServingType").append("<option value='" + servingTypes[index] + "'>" + servingTypes[index].toLowerCase() + "</option>");
                            }
                        }
                    }
                    $("#editFoodId").val(food.id);
                    $("#editFoodOwnerId").val(food.ownerId);
                    $("#editFoodName").val(food.name);
                    $("#editFoodServingQty").val(food.servingTypeQty);
                    $("#editFoodCalories").val(food.calories);
                    $("#editFoodFat").val(food.fat);
                    $("#editFoodSaturatedFat").val(food.saturatedFat);
                    $("#editFoodCarbs").val(food.carbs);
                    $("#editFoodFiber").val(food.fiber);
                    $("#editFoodSugar").val(food.sugar);
                    $("#editFoodProtein").val(food.protein);
                    $("#editFoodSodium").val(food.sodium);

                    $("#searchFoodsModal").dialog("close");
                    $("#editFoodModal").dialog({
                        width: 600,
                        height: 500,
                        modal: true
                    });
                },

                fail: function(jqXHR, textStatus) {
                    alert( "Request failed: " + textStatus );
                }
            });
        }

    /*]]>*/
  	</script>
</head>

<body>
<div id="border"><br/>
<table style="width: 100%; border-top: 2px solid #000000; border-bottom: 2px solid #000000;"><tr>
        <td width="25%" align="center"><a href="/user">User</a></td>
        <td width="25%" align="center"><a href="/food">Food</a></td>
        <td width="25%" align="center"><a href="/exercise">Exercise</a></td>
        <td width="25%" align="center"><a href="/weight">Weight</a></td>
</tr></table><br/>

<form>
    <br/><b>Foods Eaten On:</b> <input type="text" id="datepicker" /> <span style="font-size: 75%;">(click to change)</span><br/><br/>
</form>

<table width="100%">
    <tr>
        <td align="center" valign="middle">
            <b>Recently Eaten Foods:</b><br/>
            <form>
                <input type="hidden" name="date" th:value="${dateString}"/>
                <select name="FoodID">
                <option th:each="recentFood : ${foodsEatenRecently}" th:value="${recentFood.id}"><span th:text="${recentFood.name}"/></option>
                </select>
                <input type="submit" name="Action" value="Add Food"/>
            </form>
        </td>
        <td align="center" valign="middle">
            <br/>
            <input type="hidden" name="date" th:value="${dateString}"/>
            <input type="text" id="searchFoodName" name="searchFoodName"/>
            <input type="button" id="searchFoodsButton" value="Search Foods"/>
        </td>
    </tr>
</table>

<table class="foodsEatenOnDate" cellspacing="0" cellpadding="2">
<tr>
    <th width="30%">Food</th>
    <th># of Servings</th>
    <th>Serving Size</th>
    <th>Calories</th>
    <th>Fat</th>
    <th>Sat. Fat</th>
    <th>Sodium</th>
    <th>Carbs</th>
    <th>Fiber</th>
    <th>Sugar</th>
    <th>Protein</th>
    <th>Points</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
<tr th:each="foodEaten : ${foodsEatenThisDate}">
<form action="/food/eaten/update">
    <input type="hidden" name="foodEatenId" th:value="${foodEaten.id}"/>
    <td width="30%" th:text="${foodEaten.food.name}"></td>
    <td><input type="text" size="2" name="foodEatenQty" th:value="${foodEaten.servingQty}"/></td>
    <td>
        <select name="foodEatenServing" th:if="${foodEaten.servingType.toString().equalsIgnoreCase('CUSTOM')}">
            <option selected="selected">CUSTOM</option>
        </select>
        <select name="foodEatenServing" th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('CUSTOM')}">
            <option th:if="${foodEaten.servingType.toString().equalsIgnoreCase('ounce')}" value="ounce" selected="selected">ounce</option>
            <option th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('ounce')}" value="ounce">ounce</option>

            <option th:if="${foodEaten.servingType.toString().equalsIgnoreCase('cup')}" value="cup" selected="selected">cup</option>
            <option th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('cup')}" value="cup">cup</option>

            <option th:if="${foodEaten.servingType.toString().equalsIgnoreCase('pound')}" value="pound" selected="selected">pound</option>
            <option th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('pound')}" value="pound">pound</option>

            <option th:if="${foodEaten.servingType.toString().equalsIgnoreCase('pint')}" value="pint" selected="selected">pint</option>
            <option th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('pint')}" value="pint">pint</option>

            <option th:if="${foodEaten.servingType.toString().equalsIgnoreCase('tablespoon')}" value="tablespoon" selected="selected">tablespoon</option>
            <option th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('tablespoon')}" value="tablespoon">tablespoon</option>

            <option th:if="${foodEaten.servingType.toString().equalsIgnoreCase('teaspoon')}" value="teaspoon" selected="selected">teaspoon</option>
            <option th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('teaspoon')}" value="teaspoon">teaspoon</option>

            <option th:if="${foodEaten.servingType.toString().equalsIgnoreCase('gram')}" value="gram" selected="selected">gram</option>
            <option th:if="${not foodEaten.servingType.toString().equalsIgnoreCase('gram')}" value="gram">gram</option>
        </select>
    </td>
    <td th:text="${foodEaten.calories} % 1 == 0 ? ${foodEaten.calories} : ${#numbers.formatDecimal(foodEaten.calories, 0, 2)}"></td>
    <td th:text="${foodEaten.fat} % 1 == 0 ? ${foodEaten.fat} : ${#numbers.formatDecimal(foodEaten.fat, 0, 2)}"></td>
    <td th:text="${foodEaten.saturatedFat} % 1 == 0 ? ${foodEaten.saturatedFat} : ${#numbers.formatDecimal(foodEaten.saturatedFat, 0, 2)}"></td>
    <td th:text="${foodEaten.sodium} % 1 == 0 ? ${foodEaten.sodium} : ${#numbers.formatDecimal(foodEaten.sodium, 0, 2)}"></td>
    <td th:text="${foodEaten.carbs} % 1 == 0 ? ${foodEaten.carbs} : ${#numbers.formatDecimal(foodEaten.carbs, 0, 2)}"></td>
    <td th:text="${foodEaten.fiber} % 1 == 0 ? ${foodEaten.fiber} : ${#numbers.formatDecimal(foodEaten.fiber, 0, 2)}"></td>
    <td th:text="${foodEaten.sugar} % 1 == 0 ? ${foodEaten.sugar} : ${#numbers.formatDecimal(foodEaten.sugar, 0, 2)}"></td>
    <td th:text="${foodEaten.protein} % 1 == 0 ? ${foodEaten.protein} : ${#numbers.formatDecimal(foodEaten.protein, 0, 2)}"></td>
    <td th:text="${foodEaten.points} % 1 == 0 ? ${foodEaten.points} : ${#numbers.formatDecimal(foodEaten.points, 0, 2)}"></td>
    <td><input type="submit" name="action" value="Update"/></td>
    <td><input type="submit" name="action" value="Delete" onclick="javascript:return confirm('Are you SURE you want to delete this food entry?');"/></td>
</form>
</tr>
<tr>
    <td width="30%"><br/>TOTAL: </td>
    <td><br/>&nbsp;</td>
    <td><br/>&nbsp;</td>
    <td th:text="${caloriesForDay} % 1 == 0 ? ${caloriesForDay} : ${#numbers.formatDecimal(caloriesForDay, 0, 2)}"><br/></td>
    <td th:text="${fatForDay} % 1 == 0 ? ${fatForDay} : ${#numbers.formatDecimal(fatForDay, 0, 2)}"><br/></td>
    <td th:text="${saturatedFatForDay} % 1 == 0 ? ${saturatedFatForDay} : ${#numbers.formatDecimal(saturatedFatForDay, 0, 2)}"><br/></td>
    <td th:text="${sodiumForDay} % 1 == 0 ? ${sodiumForDay} : ${#numbers.formatDecimal(sodiumForDay, 0, 2)}"><br/></td>
    <td th:text="${carbsForDay} % 1 == 0 ? ${carbsForDay} : ${#numbers.formatDecimal(carbsForDay, 0, 2)}"><br/></td>
    <td th:text="${fiberForDay} % 1 == 0 ? ${fiberForDay} : ${#numbers.formatDecimal(fiberForDay, 0, 2)}"><br/></td>
    <td th:text="${sugarForDay} % 1 == 0 ? ${sugarForDay} : ${#numbers.formatDecimal(sugarForDay, 0, 2)}"><br/></td>
    <td th:text="${proteinForDay} % 1 == 0 ? ${proteinForDay} : ${#numbers.formatDecimal(proteinForDay, 0, 2)}"><br/></td>
    <td th:text="${pointsForDay} % 1 == 0 ? ${pointsForDay} : ${#numbers.formatDecimal(pointsForDay, 0, 2)}"><br/></td>
    <td colspan="2"><span th:text="${netCalories}"/> net cal.<br/><span th:text="${netPoints}"/> net points</td>
</tr>
</table>

<br/>
<form><input type="submit" value="Add / Manage Foods"/></form>
<br/>



<div style="font-family: 'Open Sans', sans-serif; font-size:10px; display:none;">
    <div id="searchFoodsModal" title="Search Foods" style="text-align: center;">
        <div style="margin: 0 auto; width: 75%">
            <p>Click the "Add" button to add a food to the list of foods eaten on this day.</p>
            <p>Click a food's name to modify its nutritional information.</p>
        </div>
        <table id="searchFoodsTable" style="margin: 0 auto;">

        </table>
    </div>
</div>

<div style="font-family: 'Open Sans', sans-serif; font-size:10px; display:none;">
    <div id="editFoodModal" title="" style="text-align: center;">
        <div id="editFoodMessage" style="margin: 0 auto; width: 75%"></div>
        <form action="/food/update" method="post">
            <input type="hidden" id="editFoodId" name="id"/>
            <input type="hidden" id="editFoodOwnerId" name="ownerId"/>
            <table style="margin: 0 auto;">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" size="50" maxlength="50" id="editFoodName" name="name"/></td>
                </tr>
            </table>
            <table style="margin: 0 auto;">
                <tr>
                    <td>Default Serving Type:</td>
                    <td>
                        <select id="editFoodServingType" name="defaultServingType"></select>
                    </td>
                </tr>
                <tr>
                    <td>Default Serving Qty:</td>
                    <td><input type="text" size="4" id="editFoodServingQty" name="servingTypeQty"/></td>
                </tr>
                <tr>
                    <td>Calories:</td>
                    <td><input type="text" size="4" id="editFoodCalories" name="calories"/></td>
                </tr>
                <tr>
                    <td>Fat:</td>
                    <td><input type="text" size="4" id="editFoodFat" name="fat"/></td>
                </tr>
                <tr>
                    <td>Saturated Fat:</td>
                    <td><input type="text" size="4" id="editFoodSaturatedFat" name="saturatedFat"/></td>
                </tr>
                <tr>
                    <td>Carbs:</td>
                    <td><input type="text" size="4" id="editFoodCarbs" name="carbs"/></td>
                </tr>
                <tr>
                    <td>Fiber:</td>
                    <td><input type="text" size="4" id="editFoodFiber" name="fiber"/></td>
                </tr>
                <tr>
                    <td>Sugar:</td>
                    <td><input type="text" size="4" id="editFoodSugar" name="sugar"/></td>
                </tr>
                <tr>
                    <td>Protein:</td>
                    <td><input type="text" size="4" id="editFoodProtein" name="protein"/></td>
                </tr>
                <tr>
                    <td>Sodium:</td>
                    <td><input type="text" size="4" id="editFoodSodium" name="sodium"/></td>
                </tr>
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>

</div>
</body>
</html>
