<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>User Profile</title>
	<style>
	<!--
	body {
	    background: #5B211A repeat-x center top;
	    color: #000;
	    font-family: "Hoefler Text", Georgia, "Times New Roman", Times, serif;
	    margin: 0;
	    padding: 0;
	    text-align: center;
	    font-size: medium !important;
	    line-height: normal !important;
	    text-align: center;
	}
	#border {
	    width: 1000px;
	    margin: 0 auto 0 auto;
	    background: #F2E2C1 repeat-y center top;
	    padding: 0 15px;
	    border: 10px solid #411213;
    }
	/* Tan IE5 box model fix  Hides from IE5-mac */
	* html #rap {
	    width: 730px;
	    w\idth: 800px;
	}       
	-->     
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
<div id="border"><br/>
<table style="width: 100%; border-top: 2px solid #000000; border-bottom: 2px solid #000000;"><tr>
        <td width="25%" align="center"><a href="/user">User</a></td>
        <td width="25%" align="center"><a href="/diet">Diet</a></td>
        <td width="25%" align="center"><a href="/exercise">Exercise</a></td>
        <td width="25%" align="center"><a href="/weight">Weight</a></td>
</tr></table><br/>

<form action="/user" method="get">
<select name="userId">
<option value="">NEW USER</option>
<option th:each="userBuffer : ${users}" th:value="${userBuffer.id}"><span th:text="${userBuffer.firstName}"/> <span th:text="${userBuffer.lastName}"/></option>
</select>
<input type="submit" value="Select User"/>
</form>
<br/><div style="font-weight: bold; text-decoration: underline;">User Information</div><br/>

<form th:object="${user}" action="/user/save" method="post">
<input type="hidden" th:field="*{id}"/>
<table style="margin-left: auto; margin-right: auto;">
	<tr><td>Username:</td><td><input type="text" th:field="*{username}" maxlength="50" size="50"/></td></tr>
	<tr><td>First Name:</td><td><input type="text" th:field="*{firstName}" maxlength="50" size="50"/></td></tr>
	<tr><td>Last Name:</td><td><input type="text" th:field="*{lastName}" maxlength="50" size="50"/></td></tr>
	<tr>
	    <td valign="top">Gender:</td>
	    <td>
	    	<input type="radio" th:radiogroup="gender" value="MALE"/> male<br/>
            <input type="radio" th:radiogroup="gender" value="FEMALE"/> male<br/>
	    </td>
	</tr>
	<tr><td>Age:</td><td><input type="text" th:field="*{age}" maxlength="3" size="3"/></td></tr>
	<tr><td>Height in Inches:</td><td><input type="text" th:field="*{heightInInches}" maxlength="5" size="5"/></td></tr>
	<tr>
	    <td>Activity Level:</td>
	    <td>
	    	<!--<form:select path="activityLevel">-->
	    		<!--<form:option value="SEDENTARY">Sedentary</form:option>-->
	    		<!--<form:option value="LIGHTLY_ACTIVE">Lightly Active</form:option>-->
	    		<!--<form:option value="MODERATELY_ACTIVE">Moderately Active</form:option>-->
	    		<!--<form:option value="VERY_ACTIVE">Very Active</form:option>-->
	    		<!--<form:option value="EXTREMELY_ACTIVE">Extremely Active</form:option>-->
	    	<!--</form:select>-->
	    </td>
	</tr>
	<tr><td>Current weight:</td><td><span th:text="${user.currentWeight}"/></td></tr>
	<tr><td>BMI:</td><td><span th:text="${user.bmi}"/></td></tr>
	<tr><td>Calories needed daily to maintain weight:</td><td><span th:text="${user.maintenanceCalories}"/></td></tr>
	<tr><td>Daily Points:</td><td><span th:text="${user.dailyPoints}"/></td></tr>
</table>
<br/><input type="submit" value="Create / Update User"/><br/><br/>
</form>
<form>
<script th:if="${user}">
    $(function() {

        function deleteUser() {
            var confirmed = confirm("Are you SURE you want to delete this user?");
            if(confirmed) {
                document.location.href = "/user/delete/${user.id}";
            }
        }

        $("#deleteButton").click(function() {
            deleteUser();
        });

    });
</script>
<input id="deleteButton" type="button" value="Delete User" th:if="${user}"/>
</form>

</div>
</body>
</html>
